.board-spaces {
    max-width: 300px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 2px 4px;
    
    button {
        display: inline-block;
        width: 100px;
        height: 100px;
        
        background-color: var(--blue);
        border: none;
        border-radius: 8px;

        font-family: 'Architects Daughter', cursive;
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
    }
}