<app-character-players-form *ngIf="players.length < 2"></app-character-players-form>

<div class="score-container" *ngIf="players.length > 1">
    <header> PLACAR </header>

    <section class="characters-content">
        <div class="characters-card">
            <h2> {{ players[0].name }} </h2>
            <img class="playerX" [src]="players[0].thumbnailUrl" [alt]="players[0].name">
            <p *ngIf="isXturn"> > Sua vez </p>
        </div>

        <span class="score">
            {{ score.playerX }} vs {{ score.playerO }}
        </span>

        <div class="characters-card">
            <h2> {{ players[1].name }} </h2>
            <img class="playerO" [src]="players[1].thumbnailUrl" [alt]="players[1].name">
            <p *ngIf="!isXturn"> > Sua vez </p>
        </div>
    </section>    
</div>