
<div class="form">
    <section *ngIf="loadingCharacters" class="loading-characters">
        Buscando Personagens
    </section>

    <section *ngIf="!loadingCharacters">
        <h3>Bem vindo ao confronto dos personagens da <span>MARVEL</span> !</h3>
        <p>Escolha seu personagem favorito para iniciar o jogo: </p>

        <div class="inputs">
            <app-simple-input
              [placeholder]="'Ex: Thor'"
              [name]="'playerOne'"
              [formControl]="form.controls.playerOne"
              [errorMessage]="'Escolha um personagem!'"
              [label]="'1º Personagem:'"
            ></app-simple-input>
            <app-simple-input
              [placeholder]="'Ex: Hulk'"
              [name]="'playerTwo'"
              [formControl]="form.controls.playerTwo"
              [errorMessage]="'Escolha um personagem!'"
              [label]="'2º Personagem:'"
          ></app-simple-input>
        </div>

        <button type="button" (click)="onStartGame()" [disabled]="!form.valid"> START </button>
    </section>
</div>
