<form [formGroup]="form" name="form" class="form">

    <h3>Bem vindo ao confronto dos personagens da <span>MARVEL</span>   !</h3>
    <p>Escolha seu personagem favorito para iniciar o jogo: </p>

    <div class="inputs">
        <div>
            <label for="playerOne">1º Personagem: </label>
            <input placeholder="Ex: Thor" type="text" formControlName="playerOne" name="playerOne">
        </div>
        <div>
            <label for="playerTwo">2º Personagem: </label>
            <input placeholder="Ex: Hulk" type="text" formControlName="playerTwo" name="playerTwo">
        </div>
    </div>
    <button type="button" (click)="onStartGame()"> Começar Jogo </button>
</form>