.form {
    max-width: 500px;
    margin: auto;

    .inputs {
        display: flex;
        flex-direction: row;
        justify-content: center;

        label {
            font-size: 0.8rem;
        }
    }
}